Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 0
IndentWidth: 4

Standard: c++20

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignOperands: AlignAfterOperator
AlignTrailingComments: true
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
#BraceWrapping:
#  AfterControlStatement: true
#  BeforeCatch: true
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeComma
BreakBeforeBinaryOperators: NonAssignment

# functions
AllowShortFunctionsOnASingleLine: All
AllowAllArgumentsOnNextLine: true
BinPackArguments: false
BinPackParameters: false

AllowShortBlocksOnASingleLine: Empty

# while, for
AllowShortLoopsOnASingleLine: true

# if-else
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
BreakBeforeTernaryOperators: true

# switch
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveShortCaseStatements:
  Enabled: true

# templates
BreakBeforeConceptDeclarations: Allowed
# BreakTemplateDeclarations: MultiLine # clang format 19
RequiresClausePosition: SingleLine
